{% load static %}
<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="description"
        content="台南是美食之都，筆者深受台南美食的囹圄，每到用餐時刻，面對密密麻麻的google Map ，總是不知道該吃什麼比較好。想要快速篩選餐廳，或是推薦給親朋好友，需要花費很多心力，因此我們開發了這個網站，作為自己的美食地圖。Tainan is a city of delicious food. We just don't know how to choose. So we develop this website to record our delicious food map and provide the filter to choose which we should eat this meal.">
  <meta charset="utf-8">
  <meta name="google-site-verification" content="DUUCl867QgOuYBPy9R8nGUuyt7c818UWlgMNc2PzIP4"/>

  {% block structured_data %}
    <script type="application/ld+json">

    {
      "@context": "https://tnfood.pythonanywhere.com/food/",
      "@type": "NewsArticle",
      "headline": "台南不需要米其林",
      "image": [],
      "datePublished": "2022-10-15T12:00:00+08:00",
      "dateModified": "2022-10-15T20:00:00+08:00",
      "author": [{
          "@type": "Person",
          "name": "Shoa-Ting Yen",
          "url": "https://github.com/yen900611"
        },{
          "@type": "Person",
          "name": "Chi-Lin Chen",
          "url": "https://github.com/kylingithub"
      }]
    }
    </script>
  {% endblock %}
  {% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'food/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'food/css/header.css' %}">

  {% endblock %}
  {% block custom_style %}{% endblock %}
</head>
<body>
<header>
  <div class="p-1 home-header">
    <div class="home-header-logo">
      <img src="/static/food/img/logo.png" style="width: 80px; height: 80px">
    </div>
    <div class="home-header-title m-auto mt-3">
      <a href="/food" class="btn inline text-white">
        <h2>台南不需要米其林</h2>
      </a>

    </div>
    <div class="home-header-left ml-5 ">
      <a href="#" class="btn inline text-white">關於我們</a>
    </div>
  </div>
</header>

<main>
  {% block main %}{% endblock %}

</main>
<div style="height: 200px">
  {% block footer %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7226655551293951"
            crossorigin="anonymous"></script>

    <!-- Footer的廣告 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7226655551293951"
         data-ad-slot="5788882957"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endblock %}
</div>
</body>
{% block script %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
          crossorigin="anonymous"></script>
  <script>
      const API_HOST = window.location.protocol + "//" + window.location.host;
      const API_ENDPOINT = `${API_HOST}/api`
  </script>
{% endblock %}
{% block custom_script %}
{% endblock %}
{% block post_script %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HDSPGV6H9P"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'G-HDSPGV6H9P');
  </script>
{% endblock %}
</html>