{% extends 'food/base.html' %}

{% block title %} 台南不需要米其林 {% endblock %}
{% block custom_style %}
  <style>

      .template-sidebar {
          min-height: 600px;
          background-color: #FFFFFF;
          border: #AE3338 5px solid;
      }
  </style>
{% endblock %}
{% block main %}

  <div class="container-fluid border-bottom">
    <div class="row ">
      <div class="col-3 border-right template-sidebar m-1">
      {% include 'food/form_filter.html' with tags=tags %}
      </div>
      <div class="col-8">
        <div class="container-fluid">
          <div class="row ">
            {% for store in store_list %}
              {# 使用模板語言 嵌入URL #}
              <a href="{% url 'food_introduction' place_id=store.id %}">

                <div class="col-4 grid-item p-0 m-1">
                  <div class="grid-item-img">
                    <img class="p-1" style="max-width:280px;max-height: 200px" src="{{ store.get_sample_by_order.url }}" alt="">
                  </div>
                  <label for="">{{ store.name }}</label>
                </div>
              </a>

            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>{% endblock %}

