<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TNFood</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <header>
        <!-- search block -->
        <div class="p-3">

        <div class="m-auto mt-3">
            <!-- The form -->
            <form class="">
                <input type="text" placeholder="想找什麼呢？" name="search">
                <button type="submit"><span class="material-icons">
                    search
                  </span></button>
            </form>
        </div>
        </div>
    </header>
    <main>

        <div class="container-fluid border-bottom">
            <div class="row ">
                <div class="col-2 border-right template-sidebar">

                </div>
                <div class="col-10">
                    <div class="container-fluid">
                        <div class="row m-2">
                            <div class="col-4 grid-item p-0 m-1">
                                <div class="grid-item-img">
                                    <img src="https://fakeimg.pl/280x200">
                                </div>
                                <label for="">餐廳名稱</label>
                            </div>
                            <div class="col-4 grid-item p-0 m-1">
                                <div class="grid-item-img">
                                    <img src="https://picsum.photos/id/684/280/200" alt="">
                                </div>
                                <label for="">餐廳名稱</label>
                            </div>
                            <div class="col-4 grid-item p-0 m-1">
                                <div class="grid-item-img">
                                    <img src="https://picsum.photos/id/684/280/200" alt="">
                                </div>
                                <label for="">餐廳名稱</label>
                            </div>
                            <div class="col-4 grid-item p-0 m-1">
                                <div class="grid-item-img">
                                    <img src="https://picsum.photos/id/684/280/200" alt="">
                                </div>
                                <label for="">餐廳名稱</label>
                            </div>
                            <div class="col-4 grid-item p-0 m-1">
                                <div class="grid-item-img">
                                    <img src="https://picsum.photos/id/684/280/200" alt="">
                                </div>
                                <label for="">餐廳名稱</label>
                            </div>
                            <div class="col-4 grid-item p-0 m-1">
                                <div class="grid-item-img">
                                    <img src="https://picsum.photos/id/684/280/200" alt="">
                                </div>
                                <label for="">餐廳名稱</label>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
<script src="../js/jquery-3.5.1.min.js"></script>
<script src="../js/bootstrap.bundle.js"></script>
</html>